<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Context Manager</title>
    <link rel="stylesheet" href="<%= cssUri %>">
    <link rel="stylesheet" href="<%= highlightCssUri %>">
</head>

<body>
    <div class="container">
        <div class="button-container">
            <button id="indexButton" class="button">Discover</button>
            <button id="clear-conversation-btn" class="button">Clear Chat History</button>
            <button id="toggleTreeViewButton" class="button">Toggle Files</button>
        </div>
        <div id="treeView" class="tree-view"></div>
        <div id="outputArea" class="output-area"></div>
    </div>
    <div class="chat-bar">
        <textarea id="chatInput" placeholder="Type a message..." rows="1" style="resize: none;"></textarea>
        <button id="sendButton">Send</button>
    </div>
    <script src="<%= markedUri %>"></script>
    <script src="<%= purifyUri %>"></script>
    <script src="<%= highlightUri %>"></script>
    <script src="<%= scriptUri %>"></script>
</body>

</html>